.tip-whitesimple {
	z-index:1592;
	text-align:left;
	min-width:50px;
	max-width:350px;
	color:#000;
	padding:6px;
}
.tip-whitesimple .tip-inner {
	font:12px/16px arial,helvetica,sans-serif;
	border:1px solid #c3c3c3;
	/*border-radius:4px;*/
	padding:6px;
	background-color:white;
	box-shadow: 0 3px 2px rgba(0,0,0,0.5);
}

.tip-whitesimple .tip-inner h2 {
	font-weight:700; font-size:120%;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-whitesimple .tip-arrow-top {
	margin-top:1px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-whitesimple_arrows.gif) no-repeat;
}
.tip-whitesimple .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-7px;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	background:url(tip-whitesimple_arrows.gif) no-repeat -9px 0;
}
.tip-whitesimple .tip-arrow-bottom {
	margin-top:-7px;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:6px;
	background:url(tip-whitesimple_arrows.gif) no-repeat -18px 0;
}
.tip-whitesimple .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:1px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url(tip-whitesimple_arrows.gif) no-repeat -27px 0;
}