#figure{
	background:red; 
	width:150px; 
	height:150px;
	position: relative;
	
}
#figure::after{
		content: "";
		background:white; 
		position: absolute;
	    top: 50%;
	    left: 50%;
	    height: 60%;
	    width: 20%;
	    margin: -30% 0 0 -10%;
		border-radius: 3px;
	}
#figure::before{
	content: "";
	background:white; 
	 position: absolute;
	    top: 50%;
	    left: 50%;
	    height: 20%;
	    width: 60%;
	    margin: -10% 0 0 -30%;
	border-radius: 3px;
}
/*текст (шрифт, размер, цвет, поля, обрамление);*/
body{
	font-size: 120%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: MidnightBlue;
    background: AliceBlue;
}
#home {
	border: 1px inset blue;
	border-radius: 2px;
}
/*гиперссылки (цвет непосещенных и посещенных ссылок);*/
A {
    color: red; /* Цвет ссылок */
}
A:visited {
    color: #cecece; /* Цвет посещенных ссылок */
}
/*документ (фон);*/
body{
	background: AliceBlue;
}
/*список (маркеры или нумерацию);*/
ul {
    list-style-position: inside;
    width:150px; 
}
ul li {
	list-style-type: disc;
	border-radius: 5px;
    margin: 5px;
    background: #cce5ff;
}
ol li {
	list-style-type: upper-roman;
}
/*таблицу (границы, фон).*/
table{
	background: linear-gradient(45deg, palegreen, skyblue);
}
table, th, tr{
	border-collapse: collapse;
	border: 5px solid green;
}
