
#gnum{
	position:absolute;
	visibility:hidden;
	width:600px;
	height:130px;
	z-index:1000
}

#magic_num, #magic_num p {
	display: inline;
	font-size: 130px;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	-webkit-text-stroke: 4px rgba(0,0,0,0.5);
}

#magic_num p {
	display: none;
	font-size: 130px;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	-webkit-text-stroke: 4px rgba(0,0,0,0.5);
}

.num0{
	color: white;

}
.num1{
	color: red;
}
.num2{
	color: orange;
}
.num3{
	color: yellow;
}
.num4{
	color: green;
}
.num5{
	color: powderblue;
}
.num6{
	color: indigo;
}
.num7{
	color: darkviolet;
}
.num8{
	color: deeppink;
}
.num9{
	color: goldenrod;
}
